@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10.2%;
    --muted: 210 100% 87.94%;
    --muted-foreground: 0 0% 10.2%;
    --popover: 290 45% 98%;
    --popover-foreground: 290 55% 4%;
    --card: 290 100% 93.2%;
    --card-foreground: 290 55% 4%;
    --border: 220 7.32% 91.96%;
    --input: 210 13.95% 83.14%;
    --primary: 314.72 100% 73.9%;
    --primary-foreground: 290 98% 1%;
    --secondary: 206.04 100% 63.38%;
    --secondary-foreground: 0 0% 0%;
    --accent: 219.62 100% 84.43%;
    --accent-foreground: 170 98% 1%;
    --destructive: 0 100% 37.65%;
    --destructive-foreground: 15 0% 100%;
    --ring: 219.79 74.8% 75.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 2.31%;
    --foreground: 290 31% 97%;
    --muted: 50 0% 13.08%;
    --muted-foreground: 50 0% 77.69%;
    --popover: 0 0% 10%;
    --popover-foreground: 290 31% 98%;
    --card: 0 0% 6.92%;
    --card-foreground: 290 31% 98%;
    --border: 290 0% 16.92%;
    --input: 290 0% 23.08%;
    --primary: 290 100% 74.78%;
    --primary-foreground: 290 0% 7.69%;
    --secondary: 50 100% 78.73%;
    --secondary-foreground: 50 0% 0%;
    --accent: 110.94 100% 69.08%;
    --accent-foreground: 170 0% 0%;
    --destructive: 360 100% 65.13%;
    --destructive-foreground: 0 0% 0%;
    --ring: 290 98% 61%;
  }
}

@layer base {
  :root {
    --success: 102 49% 82%;
    --success-foreground: 102 49% 22%;
    --warning: 55 49% 82%;
    --warning-foreground: 55 49% 22%;
    --info: 217 49% 82%;
    --info-foreground: 217 49% 22%;
  }

  .dark {
    --success: 108 49% 12%;
    --success-foreground: 108 49% 52%;
    --warning: 47 49% 12%;
    --warning-foreground: 47 49% 52%;
    --info: 200 49% 12%;
    --info-foreground: 200 49% 72%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.remove-scrollbar {
  /* Maintain scroll functionality */
  overflow-y: auto; /* Adjust as needed for your layout */
}

/* For WebKit-based browsers */
.remove-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Edge and IE */
.remove-scrollbar {
  -ms-overflow-style: none;
}

/* For Firefox */
.remove-scrollbar {
  scrollbar-width: none;
}
#rich * {
  line-height: 1;
}
::selection {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}
